<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" contect="width=device-width, intial-scale=1.0,user-scalable=no">
  <link rel="stylesheet" type="text/css" href="/style.css">
  <title></title>
</head>
<body class="fixed-bg">

  <nav>
    <ul>
      <li><a href="/">Home</a></li><!-- deals, as index and main -->
      <!-- <li><a href="/booked">Booked</a></li> make a new Application with deal,ship and flight -->
      <li><a href="/flights">Flights</a></li><!-- a list of flights with deals attached to them -->
      <li><a href="/ships">Ships</a></li><!-- shows list of ships -->
      <li><a href="/admin">Admin</a></li><!-- new deal to be made by admin -->
    </ul>
  </nav>
  <%= yield %>

</body>
</html>
