<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <title></title>
</head>
<body>

  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/book">book</a></li>
      <li><a href="/ships">Ships</a></li>
    </ul>
  </nav>
  <%= yield %>

</body>
</html>
