body {
  color: orange;
}

a {
  text-decoration: none;
  color: orange;
}

a:hover {
  color: red;
}

p {
  flex-flow: row;
}

.fixed-bg{
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100%;
  background: black url('/images/background.jpg');
  background-attachment: fixed;
}

.SpaceShips {
  max-width: 400px;
  max-height: 400px;
}

nav {
  flex-flow: row;
}
