<h1>Deals</h1>

<% @deals.each do |deal| %>
  <p>Deal: <%= deal.name() %></p>
  <p>Space Craft: <%= deal.all_details()[:ship].name %></p>
  <p>flight: <%= deal.all_details()[:flight].price %></p>

  <hr>
<% end %>
