<h1>Add Flight</h1>
<form method="post" action="/flights">

  <label for="price-of-flight">Price:</label>
  <input id="price-of-flight" type="number" name="price">

  <label for="time-of-flight">Time:</label>
  <input id="time-of-flight" type="number" name="time">

  <label for="ship-id">Ship:</label>
    <select class="" name="ship_id">
      <% @ships.each do |ship| %>
        <option value=<%= ship.id %>><%= ship.name %></option>
      <% end %>
    </select>

  <input type="submit" value="Submit New Deal">
</form>
