<form method="post" action="/flights">

  <label for="price-of-flight">Price:</label>
  <input id="price-of-flight" type="number" name="price">

  <label for="time-of-flight">Time:</label>
  <input id="time-of-flight" type="number" name="time">

  <input type="submit" value="Submit New Deal">
</form>
